body {
    --headerHeight: 120px;
    --accentOrange: #f6ec2d;
    --analogOrange: #F9F269;
    --mainYellow: #FAF486;
    --darkOrange: #FFA914;
    --gridItemSize: 350px;
    margin: 0 auto;
    height: 100%;
    background-color: var(--mainYellow);
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

html{
    height: 100%;
}

*:focus{
    outline: none;
}

#root{
    position: relative;
    height: 100%;
    &::before{
        content: "";
        display:block;
        position: absolute;
        background-color: #edce11;
        z-index: -2;
        width:100vw;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.35);
        height: var(--headerHeight);
    }
}

.container{
    width:60%;
    min-height: 100%;
    margin: 0 auto;
    
}

.footer{
    width: 100vw;
    background-color: #edce11;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.35);
    height: 100px;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    p{
        margin: 0;

        &:nth-child(2){
            font-weight: bold;
        }
    }
}

.header-container{
    height: var(--headerHeight);
    background: url("./static/logo.png");
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: 0% 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .show-food-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        a{
            text-decoration: none;
            margin-left: 140px;
            font-size: 32px;
            color: black;

            &:hover{
                animation: spread 1250ms ease-in-out 0ms infinite both;
            }
        }
    }
}

.navigation{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    ul{
        list-style: none;
        display: flex;
        column-gap: 12px;

        li{
            transition: all 150ms ease-in-out;
            &:hover{
                transform: scale(1.1);
            }


        }

        a{
            color:black;
            text-decoration: none;
            font-size: 24px;

            
        }
    }
}

.auth-container{
    padding-bottom: 200px;
    margin-top: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button{
    width: 100%;
    color:white;
    border: none;
    background-color: var(--darkOrange);
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all 150ms ease-in-out;
    cursor: pointer;

    &:hover{
        letter-spacing: 1px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.219);
    }
}
  
.input-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
    width: 100%;
    max-width: 600px;

    &.login-form{
        max-width: 300px;
    }
}

.double-input-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-row{
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 1em;

    span{
        font-size: 13px;
        color: red;
    }

    input{
        width: 100%;
        margin: 0;
        font-size: 14px;
        padding: 10px;
        box-sizing: border-box;
        border-left: 5px solid var(--darkOrange);
        border-bottom: none;
        border-top: none;
        border-right: none;
        background-color: rgb(255, 239, 250);

        &.form-input-error{
            border-left: 5px solid red;
        }

        &.input-1q{
            width: 23%;
            display: inline-block;
        }

        &.input-3q{
            width: 73%;
            display: inline-block;
        }
    }
}


.input-column{
    width: 100%;
    display: flex;
    flex-direction: column;

    &.increase-tmargin{
        margin-top: 25px;
    }
}

label{
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .2em;
}

.auth-note{
    text-align: center;

    a{
        color: rgb(122, 70, 21);
    }
}

.error-msg{
    padding: 15px 30px;
    color: red;
    background-color: var(--analogOrange);

    p{
        margin: 0;
        padding: 0;
    }
}

.info-msg{
    padding: 15px 30px;
    background-color: var(--analogOrange);

    p{
        margin: 0;
        padding: 0;
    }
}

.success-msg{
    padding: 15px 30px;
    color: green;
    background-color: var(--analogOrange);

    p{
        margin: 0;
        padding: 0;
    }
}

.food-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--gridItemSize), 1fr));
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 100px;
    padding-bottom: 200px;

    

    .food-card{
        background-color: white;
        width: 100%;
        display: block;
        border-radius: 15px;
        box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.45);
        text-decoration: none;
        cursor: pointer;

        transition: all 300ms ease-in-out;

        &:hover{
            box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.55);
            transform: scale(1.075);
        }
        

        .food-image{
            width: 100%;
            height: 200px;
            img{
                height: 100%;
                width: 100%;
                border-radius: 15px 15px 0px 0px;
                object-fit: cover;
            }
        }

        .food-info{
            width: 100%;
            box-sizing: border-box;
            padding: 0px 10px;
            position: relative;

            .food-name{
                color:black;
                text-decoration: none;
            }

            .food-price{
                text-decoration: none;
            }

            .add-to-cart{
                position: absolute;
                border:none;
                background-color: transparent;
                font-size: 24px;
                color: var(--accentOrange);
                right: 15px;
                bottom: -6px;
                transition: all 100ms ease-in-out;
                cursor: pointer;

                &:hover{
                    transform: scale(1.25);
                }
            }
        }
    }

}

.cart-container{
    margin: 50px auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    flex-direction: column;
    padding-bottom: 200px;

    .change-cart-amount{
        font-size: 20px;
        &:hover{
            background-color: var(--analogOrange);
        }
    }

    .cart-item-amount{
        width: 20px;
        display: inline-block;
        height: 100%;
    }

    .empty-plate{
        margin: 100px 0px;
        width: 90%;
        min-width: 300px;
        max-width: 600px;
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.493));
    }

    .delivery-man{
        margin: 50px 0px;
        width: 50%;
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.493));
        animation: shake 300ms linear 0ms infinite both;
        max-width: 500px;
        min-width: 300px;
    }

    .order-button-container{
        margin-top: 25px;
        display: flex;
        min-width: 400px;
        width: 100%;
        row-gap: 10px;
        flex-direction: column;
        
        align-items: flex-end;

        button{
            transition: all 150ms ease-in-out;
            cursor: pointer;
            padding: 10px 20px;
            border: none;
            color: white;
            background-color: var(--darkOrange);
            text-transform: uppercase;
            font-weight: bold;
            width: 200px;
            box-sizing: border-box;

            &.submit-order-button{
                background-color: #3bad1f;
            }

            &:hover{
                letter-spacing: 1px;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.219);
                
            }
        }
    }

    .cart-total-container{
        display: flex;
        text-align: right;
        flex-direction: column;
        align-items: flex-end;
        width: 90%;
        margin-top: .5em;
        p,h3{
            margin: .3em 0;
        }

        h3{
            padding-top: .3em;
            border-top: 2px solid var(--darkOrange);
        }
    }

    table{
        width: 100%;
        border-bottom: 3px solid var(--darkOrange);
        border-collapse: collapse;
        table-layout: fixed;

        .amount-input{
            width:30px;
            padding: .5em 0 .5em .5em;
            font-size: 1em;
        }

        .table-small-column{
            width:12%;
            min-width: 72px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .table-image-column{
            width: 15%;
        }
        .table-title-column{
            width: 20%;
        }

        td,th{
            padding: 15px 0px;
            text-align: center;
            font-size: 1.1em;
        }
        thead tr{
            border-bottom: 3px solid var(--darkOrange);  
        }

        tbody tr{
            border-bottom: 1px solid var(--darkOrange);
        }

        img{
            width: 100%;
            object-fit: contain;
            max-height: 125px;
        }
    }
}

.profile-container{
    margin-top: 100px;
    padding-bottom: 200px;

    .order-info{
        .order-details{
            display: flex;
            justify-content: space-between;

            .order-details-right{
                display: flex;
                flex-direction: column;
            }

            .cancel-order{
                background-color: var(--darkOrange);
                color: white;
                border: none;
                font-size: 15px;
                padding: 10px 20px;
                transition: all 150ms ease-in-out;
                cursor: pointer;

                &:hover{
                    letter-spacing: 1px;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.219);
                }
            }

            .order-total{
                font-size: 18px;
                font-weight: bold;
            }

            .order-status{
                font-weight: bold;
            }
        }

        table{
            width: 100%;
            border-bottom: 3px solid var(--darkOrange);
            border-collapse: collapse;
            table-layout: fixed;
    
            .amount-input{
                width:30px;
                padding: .5em 0 .5em .5em;
                font-size: 1em;
            }
    
            .table-small-column{
                width:12%;
                min-width: 72px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
    
            .table-image-column{
                width: 15%;
            }
            .table-title-column{
                width: 20%;
            }
    
            td,th{
                padding: 15px 0px;
                text-align: center;
                font-size: 1.1em;
            }
            thead tr{
                border-bottom: 3px solid var(--darkOrange);  
            }
    
            tbody tr{
                border-bottom: 1px solid var(--darkOrange);
            }
    
            img{
                width: 100%;
                object-fit: contain;
                max-height: 125px;
            }
        }
    }

    .page-container{
        display: flex;
        min-height: 250px;
        column-gap: 25px;
        padding: 30px 20px;
        background-color: var(--accentOrange);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.40);
    }


    .order-list{
        width: fit-content;

        .order-pick{
            padding:15px 10px;
            margin: 5px 0px;
            cursor: pointer;
            box-sizing: border-box;
            border-left: 5px solid var(--accentOrange);
            transition: all 200ms ease-in-out;

            &:hover{
                background-color: var(--analogOrange);
                border-left: 5px solid var(--analogOrange);
            }

            &.highlight-order-pick{
                
                background-color: var(--analogOrange);
                border-left: 5px solid var(--darkOrange);
            }
        }
    }

    .selected-order-preview{
        width: 100%;


        .pick-order-message{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    .tab-picker{
        margin-left: 10px;
        display: flex;
        width: 100%;
        font-size: 20px;
    
        .tab-pick{
            background-color: var(--analogOrange);
            padding: 10px 20px;
            margin-right: 10px;
            border-radius: 15px 15px 0px 0px;
            transition: all 200ms ease-in-out;

            cursor: pointer;;

            &.highlight-tab{
                background-color: var(--accentOrange);
                font-weight: 700;
            }
        }
    
    }

    .user-info-wrapper{
        //background-color: greenyellow;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .user-info-section{

            .change-user-info-form{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .change-password-form{
                display: flex;
                justify-content: center;
                align-items: center;

                .input-row{
                    max-width: 300px;
                }

                .increase-bmargin{
                    margin-bottom: 35px;
                }

                input{
                    border-left: 5px solid var(--darkOrange);
                }

                .confirm-password-change-button{
                    padding: 10px 20px;
                    border: none;
                    color: white;
                    transition: all 150ms ease-in-out;
                    cursor: pointer;
                    background-color: #ba8407;
                    width: 100%;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: 600;

                    &:hover{
                        letter-spacing: 1px;
                        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.219);
                    }
                }
            }

            .delete-account-prompt{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 30px 0px;

                .confirm-delete-account{
                    padding: 10px 20px;
                    border: none;
                    color: white;
                    transition: all 150ms ease-in-out;
                    cursor: pointer;
                    background-color: var(--darkOrange);
                    text-transform: uppercase;
                    font-weight: 600;
                    width: 170px;
                    font-size: 15px;

                    &:hover{
                        letter-spacing: 1px;
                        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.219);
                    }
                }
            }

            display: flex;
            flex-direction: column;

            .user-info-row{
                display: flex;
                justify-content: center;
                align-items: center;

               .split-user-info{
                    width: 50%;
                    max-width: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    p{
                        width: 100%;
                        font-size: 16px;

                        &:nth-child(1){
                            margin: 0;
                        }
                        &:nth-child(2){
                            margin-left: 15px;
                            margin-top: 5px;
                            font-weight: bold;
                            
                        }
                    }
                }
            }
        }

        .user-info-actions{
            padding: 30px 0px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 20px;
            border-top: 3px solid var(--darkOrange);

            button{
                padding: 10px 20px;
                border: none;
                color: white;
                transition: all 150ms ease-in-out;
                cursor: pointer;
                width: 225px;
                font-weight: 600;
                font-size: 15px;
                text-transform: uppercase;

                &:hover{
                    letter-spacing: 1px;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.219);
                }
                
                &.delete-account-button{
                    background-color: var(--darkOrange);
                }

                &.edit-profile-button{
                    background-color: #3bad1f;
                }

                &.change-password-button{
                    background-color: #ba8407;
                }
            }
        }
    }

}

.food-view-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .food-view-container{
        border-radius: 30px;
        margin-top: 100px;
        max-width: 600px;

        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
        
        background-color: white;

        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);

    
        .food-view-image{
            border-radius: 30px 30px 0px 0px;
            width: 100%;
            object-fit: cover;
            max-height: 300px;
        }

        .food-view-info{
            width: 100%;
            box-sizing: border-box;
            padding: 0px 30px;
            display: flex;
            flex-direction: column;
            position: relative;

            p,h2{
                margin: 10px 0;
            }

            h2{
                color: var(--darkOrange);
                text-align: center;
                margin-top: 20px;
            }

            .food-view-info-price{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .add-to-cart{
                position: absolute;
                border:none;
                background-color: transparent;
                font-size: 28px;
                color: var(--accentOrange);
                right: 20px;
                bottom: 15px;
                transition: all 100ms ease-in-out;
                cursor: pointer;

                &:hover{
                    transform: scale(1.15);
                }
            }
        }
    
    }
}

@keyframes spread{
    0%{
        letter-spacing: 0px;
    }
    50%{
        letter-spacing: 2px;
    }
    100%{
        letter-spacing: 0px;
    }
}


@keyframes shake{
    0%{
        transform: translateY(2px);
    }
    50%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media (max-width: 1100px) {
    .profile-container{
        .page-container{
            flex-direction: column;
        }
        .order-list{
            width: 100%;
        }
    }
}

@media (max-width: 640px) {
    .container{
        width:100%;
        margin: 0 auto;
    
    }

    .food-container{    
        .food-card{
            border-radius: 0;

            &:hover{
                box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.55);
                transform: scale(1.00);
                
            }

            .food-image img{
                border-radius: 0;
            }
        }
    }

    .cart-container{
        .order-button-container{
            flex-direction: column;
            width: 100%;

            button{
                width: 100%;
                padding: 15px 0px;
            }
        }
    }
}